@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 900px) {
  html {
    font-size: 62.5%;
  }
}

body {
  line-height: 1.7;
  color: #261b19;
}

h1,
h2 {
  line-height: 1.2;
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.container--1000 {
  max-width: 1000px;
}

@media (min-width: 400px) {
  .row-phone {
    flex-direction: row !important;
  }
}

@media (min-width: 700px) {
  .row-medium {
    flex-direction: row !important;
    justify-content: space-around;
  }
}

@media (min-width: 900px) {
  .row-landscape {
    flex-direction: row !important;
    justify-content: space-around;
  }
}
@media (min-width: 900px) {
  .row-landscape--alignStart {
    align-items: flex-start !important;
  }
}

.pT-1 {
  padding-top: 1rem;
}

.pT-2 {
  padding-top: 2rem;
}

.pT-3 {
  padding-top: 3rem;
}

.pT-4 {
  padding-top: 4rem;
}

.pT-5 {
  padding-top: 5rem;
}

.pB-3 {
  padding-bottom: 3rem;
}

.pL-4 {
  padding-left: 4rem;
}

.pY-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pY-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pY-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pY-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pY-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.pY-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.pY-15 {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.pX-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.pX-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.pX-3 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.pX-5 {
  padding-right: 5rem;
  padding-left: 5rem;
}

.pX-6 {
  padding-right: 6rem;
  padding-left: 6rem;
}

.pX-8 {
  padding-right: 8rem;
  padding-left: 8rem;
}

.pX-10 {
  padding-right: 10rem;
  padding-left: 10rem;
}

.pB-10 {
  padding-bottom: 10rem;
}

.mL-auto {
  margin-left: auto;
}

.mT-auto {
  margin-top: auto;
}

.mT-1 {
  margin-top: 1rem;
}

.mT-2 {
  margin-top: 2rem;
}

.mT-3 {
  margin-top: 3rem !important;
}

.mT-4 {
  margin-top: 4rem !important;
}

.mT-5 {
  margin-top: 5rem !important;
}

.mT-9 {
  margin-top: 9rem;
}

.mT-10 {
  margin-top: 10rem;
}

.mR-1 {
  margin-right: 1rem;
}

.mR-2 {
  margin-right: 2rem;
}

.mB-1 {
  margin-bottom: 1rem;
}

.mB-3 {
  margin-bottom: 3rem;
}

.mY-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-reverse-row {
  flex-direction: row-reverse;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-reverse-column {
  flex-direction: column-reverse;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: center;
}
@media (min-width: 900px) {
  .align-items-start {
    align-items: flex-start;
  }
}

.align-items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-5 {
  gap: 5rem;
}

.gap-10 {
  gap: 10rem;
}

.row-gap-5 {
  row-gap: 5rem;
}

.column-gap-5 {
  column-gap: 5rem;
}

.font-jost {
  font-family: "Jost", sans-serif;
}

.fs-small {
  font-size: 1.7rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-md {
  font-size: 2.5rem;
}

.fs-3 {
  font-size: 3rem;
}

.fs-responsive-md {
  font-size: 3rem;
}
@media (min-width: 400px) {
  .fs-responsive-md {
    font-size: 4rem;
  }
}

.fs-4 {
  font-size: 4rem;
}

.fs-5 {
  font-size: 5rem;
}

.fs-6 {
  font-size: 6rem;
}

.fs-7 {
  font-size: 7rem;
}

.fw-regular {
  font-weight: 400;
}

.fw-md {
  font-weight: 500;
}

.fw-bold {
  font-weight: bold;
}

.text-decoration-none {
  text-decoration: none;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-transform-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-justify {
  text-align: justify;
}

.relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.list-style-none {
  list-style: none;
}

.nowrap {
  white-space: nowrap;
}

.line-height-md {
  line-height: 1.5em;
}

.object-fit-cover {
  object-fit: cover;
}

.c-white {
  color: #fff;
}

.main-color {
  color: #00bd85;
}

.main-color-2 {
  color: #ffb554;
}

.main-btn-color {
  color: #ff7c4c;
}

.main-btn {
  background-color: #ff7c4c;
}

.main-bg {
  background: #00bd85;
}

.white-bg {
  background-color: #fff;
}

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn--radiusSm {
  border-radius: 1rem;
}
.btn--radiusMd {
  border-radius: 3rem;
}
.btn--radiusBig {
  border-radius: 5rem;
}

.cloud {
  position: absolute;
}
.cloud--md {
  max-width: 30rem;
}
.cloud--agendar {
  right: 20rem;
  bottom: -3rem;
  max-width: 25rem;
}
.cloud--header {
  top: 5rem;
  left: 15rem;
  max-width: 25rem;
  z-index: -1;
}
.cloud--wssp {
  top: -5rem;
  left: -5rem;
  max-width: 25rem;
}
.cloud--youtube {
  top: 5rem;
  right: 30rem;
  max-width: 30rem;
  z-index: -1;
}
.cloud--youtube2 {
  display: none;
  max-width: 25rem;
  left: 40%;
  bottom: -3rem;
  z-index: -1;
}
@media (min-width: 900px) {
  .cloud--youtube2 {
    display: block;
  }
}

.bg-blur {
  position: relative;
}
.bg-blur::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  z-index: -1;
}
@media (min-width: 600px) {
  .bg-blur--portrait::after {
    background: unset;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
  }
}
@media (min-width: 750px) {
  .bg-blur--medium::after {
    background: unset;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
  }
}
@media (min-width: 900px) {
  .bg-blur--landscape::after {
    background: unset;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
  }
}

.formularioSection__textarea, .formularioSection__input {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  resize: none;
}
.formularioSection__textarea:focus, .formularioSection__input:focus {
  outline: none;
}

.formularioSection__input {
  padding-bottom: 1rem;
}
.formularioSection__input::placeholder {
  font-size: 1.5rem;
  color: #fff;
  opacity: 0.5;
  text-transform: capitalize;
}

.formularioSection__textarea {
  height: 20rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent; /* Black w/ opacity */
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  /* The Close Button */
}
.modal-content {
  width: 100%;
  max-width: 45rem;
  border-radius: 1.5rem !important;
}
.modal__img {
  max-width: 35rem;
}
.modal .close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: #fff;
  font-size: 2.5rem;
}
.modal .close:hover,
.modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal .btn {
  letter-spacing: 0.5rem;
}

.bigImage {
  display: none;
  position: absolute;
  right: -30rem;
  bottom: 0;
  z-index: 10;
}
@media (min-width: 740px) {
  .bigImage {
    display: block;
    max-width: 65rem;
  }
}
@media (min-width: 950px) {
  .bigImage {
    max-width: 70rem;
  }
}
@media (min-width: 1200px) {
  .bigImage {
    max-width: unset;
  }
}

.header {
  position: relative;
  z-index: 5;
  background: url("../images/Portada-principal.jpg") no-repeat center center/cover;
}
.header--gracias {
  background: url("../images/FONDO GRACIAS.png") no-repeat center center/cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.header--agenda {
  clip-path: unset;
}
.header__agendarImg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  max-width: 45rem;
}
.header__agendarImg--big {
  max-width: unset;
  height: 50rem;
}
.header__nubeAgendar {
  position: absolute;
  right: 25rem;
  bottom: 2rem;
  z-index: -1;
  max-width: 30rem;
}
.header__title {
  max-width: 50rem;
}
.header__container {
  max-width: 90rem;
}

.duranteViajes__boxImg {
  overflow: hidden;
}
@media (min-width: 900px) {
  .duranteViajes__boxImg {
    flex-basis: 20%;
  }
}
.duranteViajes__cloud {
  top: 5%;
  right: 5%;
}
.duranteViajes__cloud--primeraMano {
  z-index: -1;
}
.duranteViajes__img {
  transform: scale(1.5);
}
.duranteViajes__img--primeraMano {
  transform: scale(1.2);
}
.duranteViajes__pin {
  height: 4rem;
}
.duranteViajes__pin--big {
  height: 7rem;
}
.duranteViajes__map {
  background: url(../images/mapamundi.svg) no-repeat center center/cover;
}
@media (min-width: 700px) {
  .duranteViajes__container {
    min-height: 70rem;
  }
}
.duranteViajes__box p {
  margin-right: auto;
  margin-left: auto;
  max-width: 25rem;
}
@media (min-width: 700px) {
  .duranteViajes__box--1 {
    z-index: 10;
    margin-right: -10rem;
    margin-bottom: 5rem;
    align-self: flex-end;
  }
  .duranteViajes__box--3 {
    margin-left: -10rem;
    align-self: flex-end;
  }
}
.duranteViajes__lugar {
  height: 30rem;
  width: 100%;
}
.duranteViajes__nube {
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
}
@media (min-width: 700px) {
  .duranteViajes__nube {
    display: block;
  }
}
.duranteViajes__nube--1 {
  max-width: 20rem;
  top: 45%;
  left: 38%;
  z-index: 11;
}
.duranteViajes__nube--2 {
  max-width: 30rem;
  top: 50%;
  left: 60%;
}

.formularioSection {
  padding-right: 0;
  margin-top: -9rem;
}
.formularioSection__form {
  background: linear-gradient(to right, #ff9758, #ffb55b);
  border-top-left-radius: 5rem;
}
.formularioSection__btn {
  letter-spacing: 0.3rem;
}

.comunidadSection {
  background: url(../images/FONDO.png) no-repeat center center/cover;
  overflow-x: hidden;
  z-index: 10;
}
.comunidadSection__content {
  max-width: 50rem;
}
.comunidadSection__title {
  max-width: 30rem;
}
.comunidadSection__title img {
  position: absolute;
  left: 25rem;
  bottom: 1rem;
  min-width: 45rem;
  z-index: -1;
}
.comunidadSection__img {
  position: absolute;
  right: -15rem;
  bottom: 0;
  width: 80rem;
  z-index: -1;
}

@media (min-width: 1065px) {
  .linea {
    margin-top: -20rem;
    padding-top: 20rem;
  }
}
.linea__cloud {
  position: absolute;
  display: none;
}
@media (min-width: 750px) {
  .linea__cloud {
    display: block;
  }
}
.linea__cloud--1 {
  max-width: 30rem;
  top: -5rem;
  right: 35rem;
}
.linea__cloud--2 {
  max-width: 20rem;
  left: 10rem;
  bottom: 5rem;
}
.linea__cloud--3 {
  max-width: 20rem;
  right: 0;
  bottom: 5rem;
}
.linea__img {
  display: none;
}
@media (min-width: 750px) {
  .linea__img {
    display: block;
  }
}
.linea__container {
  top: -5rem;
  right: 2.5rem;
  left: 2.5rem;
  bottom: 0;
}
@media (min-width: 750px) {
  .linea__container {
    position: absolute;
    flex-direction: row;
  }
}
.linea__box {
  flex-basis: 14rem;
}
.linea__box img {
  max-width: 14rem;
}
@media (min-width: 750px) {
  .linea__box:nth-child(2), .linea__box:nth-child(4) {
    align-self: flex-end;
  }
}
@media (min-width: 700px) {
  .linea__box:nth-child(2) {
    margin-left: 0.5rem;
  }
}
@media (min-width: 900px) {
  .linea__box:nth-child(2) {
    margin-left: 2rem;
  }
}

.wssp {
  height: 4rem;
}

.time__reloj {
  height: 9rem;
}
.time__ul {
  position: absolute;
  gap: 1.5rem;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
